* {
	box-sizing: border-box;
}

body {
	background-color: #bbb;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.wrapper {
	max-width: 1600px;
	background-color: #fff;
	margin: 0 auto;
}

.container {
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
}

h1 {
	display: none;
}

h2 {
	font-size: 64px;
	font-weight: 700;
	letter-spacing: .2px;

}

h3 {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;

}

h4 {
	font-size: 16px;
	font-weight: 500;
}

.white {
	color: #fff;
}

.button {
	display: inline-block;
	background-color: #00AFDB;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	height: 46px;
	width: 184px;
	text-align: center;
	padding-top: 15px;

}

.button:hover {
	cursor: pointer;
	background-color: #009CC2;
}

.first-screen {
	background-image: url(assets/bg-image.png);
	min-height: 744px;
}

header {
	min-height: 95px;
	margin: 0 auto 75px auto;
	padding-top: 25px;

}

nav {
	margin: 0 auto;
	max-width: 590px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.your-life {

	margin: 0 auto;
	text-align: center;
}

.main-text {
	margin: 20px auto 30px auto;
	max-width: 504px;
	text-align: center;
	font-size: 18px;
	line-height: 140%;
}

.socials {
	max-width: 170px;
	margin: 183px auto 90px auto;
	text-align: center;
	display: flex;
	justify-content: space-between;
	border: 1px solid #aaa;
}

.second-screen .fourth-screen {

	height: 842px;


}

.rappresent {
	width: 407px;
	text-align: center;
}

.rappresent>p {
	width: 407px;
	margin: 0 auto;
	line-height: 140%;
	text-align: left;
}

.rap {

	width: 407px;
	height: 582px;
	left: 924px;
	top: 120px;
}

.imp {

	width: 407px;
	height: 582px;
	left: 269px;
	top: 120px;
}

.image {
	display: block;
	margin: 120px 139px 140px 109px
}

.implement {
	position: absolute;
	width: 407px;
	height: 184px;
	left: 815px;
	top: 319px;
}

.third-screen {
	height: 504px;

	display: flex;

	justify-content: center;
}

.our-community {
	max-width: 298px;
}

.fifth-screen {
	background-image: url(assets/pexels-christina-morillo-1181675\ 1.png);
	height: 524px;
	padding: 200px 0 0 0;
	text-align: center;

}

.form {
	display: inline-block;
	text-align: center;
}

.sixth-screen {
	min-height: 464px;
	text-align: center;
	padding-top: 120px;
}

.text-6 {
	display: inline-block;
	max-width: 480px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.nav__link {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}

.nav__link:hover {
	cursor: pointer;
	text-decoration: underline;
	font-weight: 500;
}

.capital {
	text-transform: capitalize;
}

.upper {
	text-transform: uppercase;
}


footer {
	min-height: 185px;
	background-color: #000;

	color: #fff;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;

}

.footer-line {
	padding-top: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.line {
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	width: 0.5px;
	height: 7px;
	background-color: wheat;
}

.sign {
	color: #818181;
}